@page "/"


<div class="section">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="image-margin">
                <a href="http://www.siraj360.com" target="_blank">
                    <img src="images/balzor-app.png" class="img-fluid" style="vertical-align: middle;" alt="" />
                </a>
            </div>
            <div class="hidden-md-up"><br></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">

            <h4>Welcome </h4>
            <br>
            <p>Welcome to ETMS Blazor Application.</p>
            <p>
                This ETMS: Employe Traning Management System, a sample application is developed with Blazor, Blazor Componentes, .Net Core 3.1, Visual Studio 2019, Entity Framework Core 3.1 and SQL Server Data.
            </p>
            <p>
                Full application available for download at <a href="https://github.com/Siraj360" target="_blank">GitHub</a>.
            </p>
            <p>Thanks for visiting/using this sample Blazor Application!</p>
            <p>
                <strong>- Siraj Gadhia</strong>
                <br> <a href="http://www.SirajGadhia.com" target="_blank">www.SirajGadhia.com</a>
                <br> 28th April 2020
            </p>
        </div>
    </div>
    <!-- /.row -->
</div>
<div class="section-light-gray">
    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <br />
            <h4>What's new in this ETMS Balzor Application? </h4>
            <br />
            <h5>ETMS : Dashboard</h5>
            <p>
                A dashboard sample page developed with training key status indicator, using a generic Blazor Component and training course listing with highlighting assigned training status and training progress & success rate indicator. 
            </p>

            <img src="images/blazor-dashboard.PNG" width="98%" class="img-fluid" style="vertical-align: middle;" alt="" />

            <div class="hidden-md-up"><br></div>

        </div>
    </div>

    <br><br> 
</div>
<!-- /.row -->
